@import "src/styles/utility";

.container {
  position: relative;
  padding: 1rem;
  background-color: #ffffffd6;
  box-shadow: 5px 5px 20px #f3f3f3;
  z-index: 12;
}

.title {
  display: grid;
  margin: 1em auto;
  justify-content: center;
  justify-items: center;
}

.imgWrapper {
  max-width: 266px;
  max-height: 190px;
  overflow: hidden;
}

.img {
  width: 100%;
  max-width: 704px;
  height: auto;
}

.skillItem {
  list-style-type: none;
  line-height: 1.5rem;
}

.itemTitle {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #555555;

  &:hover {
    color: #ae003a;
  }
}

.projectButton {
  @include button;
  display: grid;
  margin-top: 1rem;
  padding: 1rem;
  justify-self: center;
}

.toggleAnimationContainer {
  display: grid;
  justify-items: center;
  transition: all 300ms ease-in;
}
