@import "./_utility.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
  min-height: 100%;
  max-width: $xl;

  @media (min-width: $xl) {
    margin: 0 auto;
  }
}

.nav-link {
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: $grey;

  &:hover {
    color: $red;
    text-shadow: 0 0 0.65px $red, 0 0 0.65px $red;
    transition: 0.5s;
  }

  &--active {
    text-shadow: 0 0 0.65px $red, 0 0 0.65px $red;
    text-transform: uppercase;
    color: $red;
  }
}
