@import "src/styles/utility";

.section {
  @include basicBackground;
}

.introSection {
  @include whiteBackground;

  @media (min-width: $md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: unset;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    margin: 1em;
    align-self: center;
    color: $grey;
    z-index: 1;
  }

  .contactsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1rem;

    @media (min-width: $md) {
      padding: 2rem;
      justify-items: end;
    }
  }

  .contactsWrapperInner {
    @media (min-width: $md) {
      padding: 0;
    }
  }

  .bioPhoto {
    border-radius: 50%;
    background: #f9f4ed;
    background-size: contain;
  }
}

.content {
  @include whiteBackground;
  padding: 2rem;

  @media (min-width: $md) {
    margin-bottom: 3rem;
    box-shadow: 5px 5px 20px #f3f3f3;
  }

  @media (min-width: $container) {
    padding-left: 0;
  }
}

.contactsWrapperLink {
  font-weight: bold;
  color: black;

  &:hover {
    color: $green;
  }
}

.info {
  @include whiteBackground;
  display: grid;
}

.descriptionColumns {
  display: grid;
  padding: 2rem;
  grid-row-gap: 0.5rem;

  @media (min-width: $xl) {
    grid-template-columns: 2fr 7fr;
  }

  @media (min-width: $container) {
    padding-left: 0;
  }
}

.descriptionIndent p {
  position: relative;
  text-indent: 1.5em;
  margin: 0.5em;
  z-index: 1;
}

.descriptionPointsStyle {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.listItem {
  padding-left: 1.5rem;
  list-style: none;
  line-height: 1.5rem;

  &:before {
    content: "\2022";
    color: $red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: 1.5rem;
  }
}

.downloadButton {
  @include button;
  margin-bottom: 3rem;
  padding: 0.9375rem 1.25rem;
}
