@import "src/styles/utility";

header {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 1rem;
  max-width: $xl;
  position: fixed;
  top: 0;
  padding: $smPadding;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #fff;
  opacity: 0.9;
  z-index: 2;

  @media (min-width: 414px) {
    padding: $smPadding 2rem;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $container) {
    padding: $smPadding 0;
  }
}

.navbar {
  align-self: center;
  justify-self: end;
}

.menu {
  display: flex;
  justify-content: space-between;
  min-width: 230px;

  @media (min-width: $sm) {
    min-width: 270px;
  }

  @media (min-width: $md) {
    min-width: 370px;
  }

  & li {
    list-style-type: none;
    font-size: 14px;

    @media (min-width: $sm) {
      font-size: 16px;
    }
  }
}

.languageBtn {
  @include button;
  margin: 0;
  padding: 5px 6px;
  max-width: 37px;
}
